* text=auto

# SolidEdge
SolidEdge/**/*.par filter=lfs diff=lfs merge=lfs -text
SolidEdge/**/*.asm filter=lfs diff=lfs merge=lfs -text
SolidEdge/**/*.cfg filter=lfs diff=lfs merge=lfs -text
SolidEdge/**/*.dft filter=lfs diff=lfs merge=lfs -text

# Images
*.gif filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text