@page "/admin"
@using System.ComponentModel.DataAnnotations
@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using KTANE_WebApp.Backend.Module
@using KTANE_WebApp.Components.Models
@using NitroxModel.Logger
@rendermode InteractiveServer
<div>
    <button type="submit" class="btn btn-primary" @onclick="ConnectArduino">Connect Arduino</button>
    <button type="submit" class="btn btn-primary" @onclick="DisconnectArduino">Disconnect Arduino</button>
</div>
<div style="margin-top:5em">
    <input type="range" min="1" max="100" class="slider" @bind="Bomb.Instance.SoundVolume" @bind:event="oninput">
    <button type="submit" class="btn btn-primary" @onclick="Bomb.Instance.Explode">Test Audio</button>
</div>

<textarea style="width: 100%; height: 20em">
  @WebsiteSink.Text
</textarea>


@code {
    private static void ConnectArduino()
    {
        try
        {
            Arduino.Open();
        }
        catch (Exception ex)
        {
            Log.Error(ex);
        }
    }

    private static void DisconnectArduino()
    {
        Arduino.Close();
    }
}
